#first1{
    height: 680vh;
}
body{
    background-color:rgb(237,237,237);
    margin-top: 0px;
}
#starts{
    
    /* border: 1px solid black; */
    width: 900px;
    margin-left: 200px;
    background-color: rgb(255,255,255);
    box-shadow: 10px 10px 10px rgba(15, 12, 12, 0.6);
    
   
}
#firstcontent{
    /* width: 900px; */
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    /* border: 1px solid black; */
}
#part1{
    width: 40%;
}
#content1{
   /* border: 1px solid black; */
    margin-top: 200px;
    text-align: center;
    align-items: center;
    font-family: 'Noto Sans Indic Siyaq Numbers', sans-serif;
    font-weight: bolder;
    font-size: xx-large;
    letter-spacing: 3px;
}
#content2{
    /* border: 1px solid black; */
   position: absolute;
   top: 220px;
   left: 280px;
   font-family: 'Noto Sans Indic Siyaq Numbers', sans-serif;
   font-weight: bolder;
    font-size: xx-large;
    letter-spacing: 3px;
}
#content3{
    font-weight: lighter;
    position: absolute;
    left: 280px;
    top: 290px;
    font-family: 'Viaoda Libre', serif;
    font-family: 'Yaldevi', sans-serif;
}
#buttonview{
    border: 1px solid rgb(82, 76, 76);
    position: absolute;
    top: 365px;
    left: 310px;
    border-radius: 30px;
    line-height: 50px;
    width: 150px;
    font-size: medium;
    text-align: center;
    text-decoration: none;
    color: black;
    
    
}

#imgpart{
    background-image: url("../img/photo-1522206024047-9c925421675b.jfif");
    width: 65%;
    background-size: cover;
}
#secondpart{
    position: absolute;
    margin-top: 0px;
    width: 900px;
    border: 1px solid black;
    line-height: 70px;
    text-align: center;
    background-color: rgb(51,51,51);
    color: white;
}
#secondpart::after{
    content: "";
    border: 1px dotted white;
    width: 10px;
    margin-left: 10px;

}
#secondpart::before{
    content: "";
    border: 1px dotted white;
    width: 10px;
    margin-right: 10px;

}
#img2{
    height: 95vh;
    background-image: url("../img/img2.jfif");
    background-size: cover;
}
#thirdpart1{
    text-align: center;
    font-weight: bolder;
}
#thirdpart2{
    text-align: center;
    font-size: larger;
}
#img3{
    height: 92vh;
    background-image: url("../img/img3.jfif");
    background-size: cover;
}
#fourthpart1{
    text-align: center;
    font-weight: bold;
}
#fourthpart2{
    text-align: center;
    font-size: larger;
}
#img4{
    height: 95vh;
    background-image: url("../img/img4.jfif");
    background-size: cover;
}
#firthpart1{
    text-align: center;
    font-weight: bolder;
}
#firthpart2{
    text-align: center;
    font-size: larger;
}
#img5{
    height: 95vh;
    background-image: url("../img/img.jfif");
    background-size: cover;
}
#sixthpart1{
    text-align: center;
    font-weight: bolder;
    font-size: large;
}
#sixthpart2{
    text-align: center;
    font-size: larger;
}
#img6{
    height: 95vh;
    background-image: url("../img/img5.jfif");
    background-size: cover;
}
#seventhpart1{
    text-align: center;
    font-weight: bolder;
    font-size: large;
}
#seventhpart2{
    text-align: center;
    font-size: larger;
}
/* .lastcontent{
    position: relative;
    left: 560px;
} */
#last1{
    position: absolute;
    left: 530px;
    margin-top: 18px;
    font-size: xx-large;
    font-family: 'Patua One', serif;
    font-size: 50px;
}
.lastcontent{
    position: absolute;
    left: 550px;
    font-size: large;
    margin-top: 90px;
}
#last3{
    margin-top: 115px;
}
#last4{
    /* margin-left: 550px; */
    position: absolute;
    left: 590px; 
    margin-top: 140px;   
}
